* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

/* Main Content Layout */
#main-content {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    /* content is now aligned to top because of header */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#btn-start {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    filter: hue-rotate(270deg);
}

#btn-start:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 200px #03e9f4;
}

#btn-start span {
    position: absolute;
    display: block;
}

#btn-start span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

#btn-start span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

#btn-start span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
  }
}

#btn-start span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
  }
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.reveal-overlay {
    transform: translateY(-100%);
    pointer-events: none;
}

#main-header {
    width: 95%;
    background: #ffffff;
    padding: 15px 30px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    position: sticky;
    margin-top: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #03f467;
    box-shadow: 0 0 5px #03f467;
    margin-bottom: 0; 
}

.profile-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-name {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
}

#profile-bio {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
    font-style: italic;
}

#profile-location {
    font-size: 1rem;
    color: #777;
    margin: 0;
}
